@import url("https://fonts.googleapis.com/css2?family=Judson:wght@400;700&family=Roboto:wght@100;300;400;500;700;900&display=swap");
body{
  font-family: "Judson", serif;
}
/* color */
.main-color{
  background-color: #7FBCD2;
}
.sub-color{
  background-color: #ADCFD2;
}
.about-color{
  background-color: #FFF7D8;
}
.location-color{
  background-color: #DEEFE5;
}
/* font-size */
.font-big{
  font-size: 5vw;
  line-height: 7vh;
}
.font-midium{
  font-size: 3vw;
  line-height: 5vh;
}
.font-base{
  font-size: 2vw;
  line-height: 3vw;
}
.font-small{
  font-size: 1.5vw;
  line-height: 2vw;
}
/* sizing for picture and figure */
/* top */
.top-content{
  position: relative;
  width: 100%;
  height: 90vw;
}
.top-square-big{
  width: 30vw;
  height: 30vw;
  position: absolute;
  left: 30vw;
  top: 10vw;
}
.top-square-small{
  width: 15vw;
  height: 15vw;
  position: absolute;
  bottom: 10vw;
}
.top-image{
  object-fit: cover;
  position: absolute;
  width: 65vw;
  height: 60vh;
  left: 5vw;
  top: 15vw;
}
.top-text{
  position: absolute;
  width: 35vw;
  height: auto;
  right: 0;
  bottom: 10vw;
  padding: 2vw;
  background-color: rgba(127, 188, 210, .5)
}
/* about */
.about-photo{
  width: 20vw;
  /* height: 20vw; */
  border-radius: 50%;
}
/* project */
.project-content{
  height: 110vw;
  width: 100%;
  position: relative;
}
.project-headline{
  position: absolute;
  width: 40vw;
  z-index: 1;
  left: 40vw;
  top: 30vw;
}
.project-sup-headline{
  position: absolute;
  width: 30vw;
  left: 20vw;
  bottom: 15vw;
  z-index: 1;
}
.project-photo-drawing{
  width: 50vw;
  position: absolute;
  top: 15vw;
  left: 20vw;
}
.project-photo-dack{
  width: 40vw;
  position: absolute;
  top: 40vw;
  left: 0vw;
}
.project-photo-book{
  width: 35vw;
  position: absolute;
  top: 45vw;
  right: 0vw;
}
.project-square{
  width: 60vw;
  height: 30vw;
  position: absolute;
  top: 20vw;
  right: 5vw;
}
/* shop */
.shop-content{
  position: relative;
}
.shop-inline{
  width: 1vw;
  height: 20vw;
  position: absolute;
  left: 0;
  top: 0;
}
